{% extends 'base.html' %}
{% load static %}
	{% block content %}
        <div class="card">
		</br>
		<h1 style='text-align: center; color: #0B3954'><b>Form untuk Mengisi Kegiatan</b></h1>
		</br>
	    <div class='row'>
		<div class='col-sm-6'>
	    	    <form action="{% url 'newstory6:savekegiatan' %}" method='POST'>
            		{% csrf_token %}
	    	        <table>
	    		{{ form1.as_table }}
	    	        </table>
			</br>
	    		<input type='submit' value='Submit'>
            	    </form>
            	</div>
		<div class='col-sm-6'>
		    <table style="width:100%; border:1px solid black; background-color: #E8EEF2;">
			<tr>
			    <th style="border:1px solid black">List Kegiatan</th>
			    <th style="border:1px solid black">Peserta</th>
			    <th style="border:1px solid black">Tambah Peserta</th>
			    <th style="border:1px solid black">Hapus</th>
			</tr>
			{% for a in kegiatan %}
			<tr>
	 	            <td style="border:1px solid black">
				<h3>{{ a.nama_kegiatan }}</h3>
				<p>{{ a.deskripsi }}</p>
			    </td>
			    <td style="border:1px solid black">
				    {% for b in a.orang.all %}
					<p>{{ b.nama }}</p>
				    {% endfor %}
			    </td>
		            <td style="border:1px solid black">
	    	    		<form action="{% url 'newstory6:saveorang' %}" method='POST'>
            			    {% csrf_token %}
	    			    {{ form2.as_p }}
				    </br>
	    			<input type='submit' value='Submit'>
            	    		</form>
			    </td>
	  	            <td style="border:1px solid black"><a href="{% url 'newstory6:hapuskegiatan' myid=a.id %}" style='color: black'>Delete</a></td>
			</tr>
			{% endfor %}
		    </table>
	        </div>
		    
            </div>

        </div>
	{% endblock %}
