{% extends 'base.html' %}
{% load static %}
	{% block content %}
        <div class="card">
		</br>
		<h1 style='text-align: center; color: #0B3954'><b>Form untuk Mengisi Mata Kuliah</b></h1>
		</br>
	    <div class='row'>
		<div class='col-sm-6'>
	    	    <form action='savejadwal' method='POST'>
            		{% csrf_token %}
	    	        <table>
	    		{{ form.as_table }}
	    	        </table>
			</br>
	    		<input type='submit' value='Submit'>
            	    </form>
            	</div>
		<div class='col-sm-6'>
		    <table style="width:50%; border:1px solid black; background-color: #E8EEF2;">
			<tr>
			    <th style="border:1px solid black">List Mata Kuliah</th>
			    <th style="border:1px solid black">Hapus Mata Kuliah</th>
			</tr>
			{% for a in matkuls %}
			<tr>
	 	            <td style="border:1px solid black"><a href="{% url 'story5:detail' myid=a.id %}" style='color: black;'>{{ a.mata_kuliah }}</a></td>
	  	            <td style="border:1px solid black"><a href="{% url 'story5:delete_detail' myid=a.id %}" style='color: black'>Delete</a></td>
			</tr>
			{% endfor %}
		    </table>
	        </div>
		    
            </div>

        </div>
	{% endblock %}
